# 문자형
## 선언

In [86]:
first = "Hello, World"
print(first)

multi = """
Hello, World
Hello, Python
"""
print(multi)

Hello, World

Hello, World
Hello, Python

## 문자열 연산

In [87]:
first = "과일"
second = "사과"

print(first + second)
print(first * 3 + second * 3)

과일사과
과일과일과일사과사과사과

## 함수소개

### 문자길이

In [88]:
word = "apple banana"

print(len(word))

12

### 문자열 바꾸기

In [89]:
word = word.replace("apple", "orange")
print(word)

orange banana

### 문자 바꾸기

In [90]:
trans = str.maketrans("oe" , "12")
word = word.translate(trans)
print(word)

1rang2 banana

### 대소문자 변경

In [91]:
print(word.upper())
print(word.lower())

1RANG2 BANANA
1rang2 banana

### 서식지정자

In [97]:
# + 연산을 이용
name = "tom"
print("I am " + name + "!")

# 서식지정자 사용
print("I am %s!" % name)

# 공백추가
print("I am %10s!" % name)
print("I am %-10s!" % name)

# 여러개의 추가문자
f1, f2 = "apple", "banana"
print("I like %s %s " % (f1, f2))

# 숫자형
n1, n2 = 3, 3.2323
print("n1 = %d, n2 = %f" % (n1, n2))

# 소수점 이하 자리수
print("n2 = %.2f" % n2)
print("n2 = %.2f" % n2)

# 숫자개수 맞추기
print("n2 = %07.2f"% n2)

I am tom!
I am tom!
I am        tom!
I am tom       !
I like apple banana
n1 = 3, n2 = 3.232300
n2 = 3.23
n2 = 3.23
n2 = 0003.23

### Format 함수

In [3]:
print("I like {0}, {1} !!".format("apple","banana"))
print("Number {0}, {2}, {1} !!".format(1, 2, 3))
print("Number {0}, {0}, {1} !!".format(1, 2, 3))
print("Number {}, {}, {} !!".format(1, 2, 3))
print()

f1, f2 = "apple", "banana"
print("I like {0}, {1} !!".format(f1, f2))

f3 = "I like {0}, {1} !!".format(f1, f2)
print(f3)

print("Number {0:>4}!".format(1))
print("Number {0:<4}!".format(1))
print("Number {0:0>4}!".format(1))
print("Number {0:a>4}!".format(1))
print("Number {0:0^5}!".format(1))

I like apple, banana !!
Number 1, 3, 2 !!
Number 1, 1, 2 !!
Number 1, 2, 3 !!

I like apple, banana !!
I like apple, banana !!
Number    1!
Number 1   !
Number 0001!
Number aaa1!
Number 00100!