In [ ]:
import pymysql

db = pymysql.connect(host="52.141.37.15", port=3306, user="employees", passwd="employees", db="employees", charset="utf8")

select_sql = """
    SELECT *
      FROM ljb2
"""

cursor = db.cursor()

while True:
    user = input("메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료) : ")
    
    if user == "1":
        
        name = input("이름 : ")
        math = int(input("수학 : "))
        science = int(input("과학 : "))
        english = int(input("영어 : "))
        
        sql = """
            INSERT INTO ljb2 VALUES('{}',{},{},{})
        """.format(name, math, science, english)
        
        cursor.execute(sql)
        db.commit()
        
        #sdatas.append({"name": name, "math": math, "science": science, "english": english})        
    
    elif user == "2":
        
        cursor.execute(select_sql)
        rs = cursor.fetchall() 
        
        for idx, sdata in enumerate(rs):
            print( "[%d] 이름 : %s, 수학 : %d, 과학 : %d, 영어 : %d" % (idx, sdata[0], sdata[1], sdata[2], sdata[3]))        
    
    elif user == "3":
        
        cursor.execute(select_sql)
        rs = cursor.fetchall() 
        
        for idx, sdata in enumerate(rs):
            print( "[%d] 이름 : %s, 수학 : %d, 과학 : %d, 영어 : %d" % (idx, sdata[0], sdata[1], sdata[2], sdata[3]))        
            
        dele = int(input("삭제할 번호를 입력해주세요 : "))        
        
        sql = """
            DELETE FROM ljb2
            WHERE name = '{}'
        """.format(rs[dele][0])
        
        cursor.execute(sql)
        db.commit()
        
        print("삭제가 완료되었습니다.")
                
    else:
        break
    
print("종료되었습니다")

메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료) : 2
[0] 이름 : aaa, 수학 : 12, 과학 : 32, 영어 : 13
[1] 이름 : bbb, 수학 : 1, 과학 : 2, 영어 : 3
[2] 이름 : ffffff, 수학 : 33, 과학 : 33, 영어 : 33
[3] 이름 : ggggg, 수학 : 99, 과학 : 99, 영어 : 99
[4] 이름 : 이진범, 수학 : 30, 과학 : 20, 영어 : 10
[5] 이름 : 홍길동, 수학 : 11, 과학 : 11, 영어 : 11