### 데이터베이스 접속

In [2]:
import pymysql

db = pymysql.connect(host="52.141.37.15", port=3306, user="employees", passwd="employees", db="employees", charset="utf8")

### 테이블 생성

In [3]:
cursor = db.cursor()

sql = """
    CREATE TABLE ljb2 (        
        name nvarchar(20) NOT NULL,
        math INT NULL,
        science INT NULL,
        english INT NULL,
        PRIMARY KEY (name)
    )
"""

cursor.execute(sql)
db.commit()

### 데이터 입력

In [4]:
sql = """
    INSERT INTO ljb2 VALUES('이진범',30,20,10)
"""
cursor.execute(sql)
db.commit()

### 데이터 조회

In [5]:
sql = """
    SELECT *
      FROM ljb2
"""
cursor.execute(sql)
rs = cursor.fetchall()
print(rs)

(('이진범', 30, 20, 10),)

### 데이터 삭제

In [6]:
sql = """
    DELETE FROM ljb2
    WHERE name = '이진범'
"""
cursor.execute(sql)
db.commit()

In [7]:
sql = """
    SELECT *
      FROM ljb2
"""
cursor.execute(sql)
rs = cursor.fetchall()
print(rs)

()